/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", serif;
  line-height: 1.6;
  color: #726E60;
}

#logo{
  width: 20px;
  height: 20px;
}

/* Estilização do cabeçalho */
header {
  display: flex;
  justify-content: space-between; /* Espaça o título e o menu */
  align-items: center; /* Alinha verticalmente */
  padding: 1rem 2rem; /* Espaçamento interno */
  background-color: #726E60; /* Cor de fundo */
  color: #DBFF76; /* Cor do texto */
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

/* Estilização do título secundário */
#titulo2 {
  position: absolute;
  top: 75px;
  right: 20px;
  letter-spacing: 5px;
  font-family: "Be Vietnam Pro", serif;
  left: 10px;
}

/* Estilização do menu */
.menu {
  list-style: none; /* Remove os marcadores */
  display: flex; /* Exibe os itens em linha */
  gap: 1rem; /* Espaçamento entre os itens */
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none; /* Remove o sublinhado */
  color: #fff; /* Cor do texto */
  font-size: 1rem; /* Tamanho da fonte */
  transition: color 0.3s; /* Transição suave para hover */
}

.menu a:hover {
  color: #0462dd; /* Cor ao passar o mouse */
}

/* Seção de herói */
.hero {
  text-align: center;
  padding: 2rem;
  background-color: #f4f4f4;
}

/* Grid de produtos */
.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Ajusta para o tamanho da tela */
  gap: 1rem;
  padding: 1rem;
  margin: 20px;
}

/* Estilização de cada produto */
.produto {
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  background-color: #fff; /* Cor de fundo dos itens */
}

.produto:hover {
  border: 1px solid #442B48;
  transition: 0.5s;
  color: #442B48;
  background-color: rgb(182, 220, 118, 0.5);  
}

.produto img {
  width: 50%; /* As imagens ocupam 100% da largura da caixa */
  height: auto;
  border-radius: 5px;
}

/* Título da seção de produtos */
h2 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Estilização do rodapé */
footer {
  text-align: center;
  padding: 1rem 0;
  flex-direction: column;
  height: 100%;
  display: flex;
  background-color: #726E60;
  color: #fff;
}


.button-container {
  display: flex;
  background-color: rgb(219, 255, 118);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
  rgba(152, 176, 111, 0.5) 5px 10px 15px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}