* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Be Vietnam Pro", serif;
    line-height: 1.6;
    color: #726E60;
  }
  
  #logo{
    width: 20px;
    height: 20px;
  }
  
  /* Estilização do cabeçalho */
  header {
    display: flex;
    justify-content: space-between; /* Espaça o título e o menu */
    align-items: center; /* Alinha verticalmente */
    padding: 1rem 2rem; /* Espaçamento interno */
    background-color: #726E60; /* Cor de fundo */
    color: #DBFF76; /* Cor do texto */
  }
  
  header h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  